version: '3.8'
services:
  # 数据库
  db:
    image: mysql:8.0.33
    restart: always
    environment:
      MYSQL_DATABASE: blog
      MYSQL_ROOT_PASSWORD: 123456
    ports:
      - "3307:3306"

  # 后端服务
  backend:
    build: ./blog-springboot
    restart: always
    depends_on:
      - db
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/blog_db

  # 博客前台
  blog-web:
    build: ./blog-vue3/blog-vue3-front
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  # 博客管理后台
  blog-admin:
    build: ./blog-vue3/blog-vue3-back
    restart: always
    ports:
      - "8081:80" # 映射到 8081 端口
    depends_on:
      - backend