services:
  # 数据库
  db:
    image: mysql:8.0.33
    container_name: blog_mysql
    volumes:
      - ./blog-springboot/blog.sql:/docker-entrypoint-initdb.d/blog.sql
      - ./database/mysql:/var/lib/mysql
    restart: always
    environment:
      MYSQL_DATABASE: blog
      MYSQL_ROOT_PASSWORD: 3rQndkCBaN3xqRTHE2f4
    ports:
      - "3308:3306"
  redis:
    image: redis:7.0.10
    container_name: blog_redis
    restart: always
    ports:
      - "6380:6379"
    volumes:
      - ./database/redis/data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

  # 对象存储 MinIO
  minio:
    image: minio/minio
    container_name: blog_minio
    restart: always
    ports:
      - "9007:9000"       # API 端口（后端上传用）
      - "9008:9001"       # 管理界面端口（浏览器访问用）
    environment:
      MINIO_ROOT_USER: admin              # 管理员账号
      MINIO_ROOT_PASSWORD: R4K90L43ChhBNfw9bKGG    # 管理员密码（建议修改）
    volumes:
      - ./database/minio/data:/data                # 文件存储路径持久化
      - ./minio-init.sh:/minio-init.sh   # 根目录脚本挂载
    command: server /data --console-address ":9001"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 5s
      retries: 5
  minio-init:
      image: minio/mc
      container_name: blog_minio_init
      depends_on:
        minio:
          condition: service_healthy # 等到 minio 健康后再启动
      environment:
        MINIO_ROOT_USER: admin
        MINIO_ROOT_PASSWORD: R4K90L43ChhBNfw9bKGG
      entrypoint: >
        /bin/sh -c "
        mc alias set myminio http://minio:9000 $${MINIO_ROOT_USER} $${MINIO_ROOT_PASSWORD};
        mc mb --ignore-existing myminio/my-bucket;
        mc anonymous set public myminio/my-bucket;
        echo 'Initialization complete.';
        exit 0;
        "
  # 后端服务
  backend:
    build: ./blog-springboot
    container_name: blog_backend
    restart: always
    depends_on:
      - db
      - minio
    ports:
      - "8080:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/blog
      # 如果后端代码里用环境变量读取 MinIO 地址，可以加在这里,docker端口，内部通信
      - MINIO_ENDPOINT=http://minio:9000
      - MINIO_ACCESS_KEY=admin
      - MINIO_SECRET_KEY=R4K90L43ChhBNfw9bKGG
      - SPRING_PROFILES_ACTIVE=prod

  # 博客前台
  web:
    build: ./blog-vue3/blog-vue3-front
    container_name: blog_web
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend

  # 博客管理后台
  admin:
    build: ./blog-vue3/blog-vue3-back
    container_name: blog_admin
    restart: always
    ports:
      - "8081:80" 
    depends_on:
      - backend