<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baofeng.blog.mapper.BlogSettingMapper">

    <resultMap id="BaseResultMap" type="com.baofeng.blog.entity.BlogSetting">
        <id property="id" column="id"/>

        <result property="websiteChineseName" column="website_chinese_name"/>
        <result property="websiteEnglishName" column="website_english_name"/>
        <result property="websiteTitle" column="website_title"/>
        <result property="websiteCreateTime" column="website_create_time"/>
        <result property="websiteIntro" column="website_intro"/>

        <result property="logo" column="logo"/>
        <result property="favicon" column="favicon"/>
        <result property="frontHeadBackground" column="front_head_background"/>
        
        <result property="notice" column="notice"/>
        <result property="visitCount" column="visit_count"/>

        <result property="icpFilingNumber" column="icp_filing_number"/>
        <result property="psbFilingNumber" column="psb_filing_number"/>

        <result property="author" column="author"/>
        <result property="authorAvatar" column="author_avatar"/>
        <result property="authorIntro" column="author_intro"/>
        <result property="authorPersonalSay" column="author_personal_say"/>

        <result property="userAvatar" column="user_avatar"/>
        <result property="touristAvatar" column="tourist_avatar"/>

        <result property="github" column="github"/>
        <result property="gitee" column="gitee"/>
        <result property="bilibili" column="bilibili"/>
        <result property="qq" column="qq"/>
        <result property="qqGroup" column="qq_group"/>
        <result property="wechat" column="wechat"/>
        <result property="wechatGroup" column="wechat_group"/>

        <result property="weibo" column="weibo"/>
        <result property="csdn" column="csdn"/>
        <result property="zhihu" column="zhihu"/>
        <result property="juejin" column="juejin"/>
        <result property="twitter" column="twitter"/>
        <result property="stackoverflow" column="stackoverflow"/>

        <result property="multiLanguage" column="multi_language"/>
        <result property="isCommentReview" column="is_comment_review"/>
        <result property="isEmailNotice" column="is_email_notice"/>

        <result property="wechatQrCode" column="wechat_qrcode"/>
        <result property="alipayQrCode" column="alipay_qrcode"/>

        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!-- 获取网站配置（单站点，通常 id = 1） -->
    <select id="getSettingById" resultMap="BaseResultMap">
        SELECT * FROM blog_settings WHERE id = #{id}
    </select>

    <!--获取ICP备案号-->
    <select id="getICPFilingNumberById">
        SELECT icp_filing_number FROM blog_settings WHERE id = #{id}
    </select>

    <!-- 获取全部配置（理论上只有一条） -->
    <select id="getAllSettings" resultMap="BaseResultMap">
        SELECT * FROM blog_settings
    </select>

    <!--新建博客配置-->
    <insert id="insertSetting" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_settings (
            website_chinese_name,
            website_english_name,
            website_title,
            website_create_time,
            website_intro,
            logo,
            favicon,
            front_head_background,
            notice,
            visit_count,
            icp_filing_number,
            psb_filing_number,
            author,
            author_avatar,
            author_intro,
            author_personal_say,
            user_avatar,
            tourist_avatar,
            github,
            gitee,
            bilibili,
            qq,
            qq_group,
            wechat,
            wechat_group,
            weibo,
            csdn,
            zhihu,
            juejin,
            twitter,
            stackoverflow,
            multi_language,
            is_comment_review,
            is_email_notice,
            wechat_qrcode,
            alipay_qrcode,
            created_at,
            updated_at
        ) VALUES (
            #{websiteChineseName},
            #{websiteEnglishName},
            #{websiteTitle},
            #{websiteCreateTime},
            #{websiteIntro},
            #{logo},
            #{favicon},
            #{frontHeadBackground},
            #{notice},
            #{visitCount},
            #{icpFilingNumber},
            #{psbFilingNumber},
            #{author},
            #{authorAvatar},
            #{authorIntro},
            #{authorPersonalSay},
            #{userAvatar},
            #{touristAvatar},
            #{github},
            #{gitee},
            #{bilibili},
            #{qq},
            #{qqGroup},
            #{wechat},
            #{wechatGroup},
            #{weibo},
            #{csdn},
            #{zhihu},
            #{juejin},
            #{twitter},
            #{stackoverflow},
            #{multiLanguage},
            #{isCommentReview},
            #{isEmailNotice},
            #{wechatQrCode},
            #{alipayQrCode},
            CURRENT_TIMESTAMP,
            CURRENT_TIMESTAMP
        )
    </insert>

    <!-- ========================= -->
    <!-- 更新（选择性） -->
    <!-- ========================= -->
    <update id="updateSettingById">
        UPDATE blog_settings
        <set>
            <if test="websiteChineseName != null">website_chinese_name = #{websiteChineseName},</if>
            <if test="websiteEnglishName != null">website_english_name = #{websiteEnglishName},</if>
            <if test="websiteTitle != null">website_title = #{websiteTitle},</if>
            <if test="websiteCreateTime != null">website_create_time = #{websiteCreateTime},</if>
            <if test="websiteIntro != null">website_intro = #{websiteIntro},</if>

            <if test="logo != null">logo = #{logo},</if>
            <if test="favicon != null">favicon = #{favicon},</if>
            <if test="frontHeadBackground != null">front_head_background = #{frontHeadBackground},</if>
            <if test="notice != null">notice = #{notice},</if>
            <if test="visitCount != null">visit_count = #{visitCount},</if>

            <if test="icpFilingNumber != null">icp_filing_number = #{icpFilingNumber},</if>
            <if test="psbFilingNumber != null">psb_filing_number = #{psbFilingNumber},</if>

            <if test="author != null">author = #{author},</if>
            <if test="authorAvatar != null">author_avatar = #{authorAvatar},</if>
            <if test="authorIntro != null">author_intro = #{authorIntro},</if>
            <if test="authorPersonalSay != null">author_personal_say = #{authorPersonalSay},</if>

            <if test="userAvatar != null">user_avatar = #{userAvatar},</if>
            <if test="touristAvatar != null">tourist_avatar = #{touristAvatar},</if>

            <if test="github != null">github = #{github},</if>
            <if test="gitee != null">gitee = #{gitee},</if>
            <if test="bilibili != null">bilibili = #{bilibili},</if>
            <if test="qq != null">qq = #{qq},</if>
            <if test="qqGroup != null">qq_group = #{qqGroup},</if>
            <if test="wechat != null">wechat = #{wechat},</if>
            <if test="wechatGroup != null">wechat_group = #{wechatGroup},</if>

            <if test="weibo != null">weibo = #{weibo},</if>
            <if test="csdn != null">csdn = #{csdn},</if>
            <if test="zhihu != null">zhihu = #{zhihu},</if>
            <if test="juejin != null">juejin = #{juejin},</if>
            <if test="twitter != null">twitter = #{twitter},</if>
            <if test="stackoverflow != null">stackoverflow = #{stackoverflow},</if>

            <if test="multiLanguage != null">multi_language = #{multiLanguage},</if>
            <if test="isCommentReview != null">is_comment_review = #{isCommentReview},</if>
            <if test="isEmailNotice != null">is_email_notice = #{isEmailNotice},</if>

            <if test="wechatQrCode != null">wechat_qrcode = #{wechatQrCode},</if>
            <if test="alipayQrCode != null">alipay_qrcode = #{alipayQrCode},</if>

            updated_at = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>

    <update id="incrementVisitCountById">
        UPDATE blog_settings
        SET visit_count = visit_count + #{count}
        WHERE id = #{id}
    </update>



</mapper> 