<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baofeng.blog.mapper.ArticleLikeMapper">
    <resultMap id="ArticleLikeResultMap" type="com.baofeng.blog.entity.Article">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="articleId" column="article_id"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>
    <select id="getLikeByArticleAndUserId" resultType="java.lang.Long">
        SELECT id FROM article_likes WHERE article_id = #{articleId} AND user_id = #{userId} LIMIT 1
    </select>

    <delete id="deleteLikeByArticleAndUserId">
        DELETE FROM article_likes WHERE article_id = #{articleId} AND user_id = #{userId}
    </delete>

    <insert id="addLike" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article_likes (article_id, user_id, created_at)
        VALUES (#{articleId}, #{userId}, NOW())
    </insert>
    
</mapper>