<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baofeng.blog.mapper.CommentMapper">
    <!-- 基础结果映射 -->
    <resultMap id="BaseResultMap" type="com.baofeng.blog.entity.Comment">
        <id property="id" column="id"/>
        <result property="fromId" column="from_id"/>
        <result property="content" column="content"/>
        <result property="forId" column="for_id"/>
        <result property="type" column="type"/>
        <result property="authorId" column="author_id"/>
        <result property="likes" column="likes"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <!--创建评论-->
    <insert id="insertComment" parameterType="com.baofeng.blog.entity.Comment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments (
            from_id,
            content,
            for_id,
            type,
            author_id,
            created_at,
            updated_at
        )
        VALUES (
            #{fromId},
            #{content},
            #{forId},
            #{type},
            #{authorId},
            NOW(),
            NOW()
        )
    </insert>

</mapper> 